@using ProyectoIntegrador.LogicaNegocio.Entidades
@model FacturaNoFiscalArtesano

<h2>Factura no fiscal</h2>

<p>
    Esta factura muestra únicamente datos relacionados a su venta.
    Es realizada a modo de prueba.
</p>

<div class="card mb-3">
    <div class="card-body">
        <h4>Artesano - @Model.Artesano.nombre</h4>
        <br />
        <h5>Por la venta de:</h5>
        <div>
            @foreach (var lineaFactura in Model.itemsFactura)
            {
                <p><strong>Producto: </strong>@lineaFactura.NombreProducto</p>
                <p><strong>Precio: </strong>$@lineaFactura.precioUnitario</p>
                <p><strong>Cantidad: </strong>@lineaFactura.cantidad</p>
            }
        </div>

        <p><strong>Total vendido:</strong> $@Model.Total</p>
        <p><strong>Fecha:</strong> @Model.Fecha.ToString("dd/MM/yyyy")</p>
    </div>
</div>