<h2 class="text-center text-success mt-5">Cuenta eliminada ✔️</h2>
<p class="text-center">Tu cuenta fue eliminada correctamente.</p>

<div class="text-center mt-3">
    <a href="/Home/Index" class="btn btn-primary">Volver al inicio</a>
</div>