@model ProyectoIntegrador_Web.Models.LoginViewModel
@inject IConfiguration Configuration
@{
    Layout = "_LayoutLogin";
    ViewData["BodyClass"] = "login-body";
    ViewData["Title"] = "Login";

}


<div class="login-wrapper">
    <div class="login-card">

        <!-- COLUMNA IZQUIERDA -->
        <div class="login-form">
            <h6 class="brand">HechoXMí</h6>
            <h2>Bienvenido</h2>
            <p>Ingresá tus credenciales para continuar</p>
           <form asp-controller="Login" asp-action="Login" method="post">

    <!-- Error general (credenciales incorrectas, captcha, etc) -->
    <div asp-validation-summary="ModelOnly"
              class="text-danger small mb-2">
    </div>

    <div class="mb-3">
        <input asp-for="Email"
               class="form-control"
               placeholder="Email" />
        <span asp-validation-for="Email"
              class="text-danger small"></span>
    </div>

    <div class="mb-3">
        <input asp-for="Password"
               type="password"
               class="form-control"
               placeholder="Contraseña" />
        <span asp-validation-for="Password"
              class="text-danger small"></span>
    </div>

    <button type="submit" class="btn btn-dark w-100">
        Ingresar
    </button>

    <p class="mt-3 text-center">
        ¿No tenés cuenta?
        <a asp-action="registroUsuario">Registrate</a>
    </p>

    <div class="d-flex justify-content-center mt-3 mb-3 recaptcha-wrapper">
        <div class="g-recaptcha"
             data-sitekey="@Configuration["GoogleReCaptcha:SiteKey"]">
        </div>
    </div>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</form>

        </div>

        <!-- COLUMNA DERECHA -->
        <div class="login-image">
            <div class="image-overlay">
            </div>
        </div>

    </div>
</div>


<script>
    const images = [
         "/images/login/ParaLogin1.jpg",
        "/images/login/ParaLogin2.jpg"
    ];

    let index = 0;
    const imageDiv = document.querySelector(".login-image");

    function changeImage() {
        imageDiv.style.backgroundImage = `url('${images[index]}')`;
        index = (index + 1) % images.length;
    }

    changeImage();
    setInterval(changeImage, 5000); // cada 5 segundos
</script>