@model ProyectoIntegrador_Web.Models.NuevaPasswordViewModel
@{
    ViewData["Title"] = "Cambiar contraseña";
}
<form asp-action="NuevaPassword" method="post">
<div class="container mt-4" style="max-width: 400px;">
    <h4 class="mb-3">Contraseña</h4>

    <!-- Campo: Nueva contraseña -->
    <div class="form-group position-relative mb-3">
        <label class="form-label">Contraseña nueva</label>

        <input asp-for="Password"
               type="password"
               class="form-control password-input"
               placeholder="Contraseña nueva" />
            <span asp-validation-for="Password" class="text-danger small"></span>

    </div>

    <!-- Campo: Confirmar -->
    <div class="form-group position-relative mb-4">
        <label class="form-label">Confirma la contraseña nueva</label>

        <input asp-for="ConfirmPassword"
               type="password"
               class="form-control password-input"
               placeholder="Confirmar contraseña" />

        <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
    </div>
    <div class="mt-3">
            <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
    </div>
</div>
        </form>

