@using ProyectoIntegrador.LogicaNegocio.Entidades
@model List<Orden>

<h2>Pagos pendientes</h2>

<p>Debes realizar un pago por cada artesano.</p>

@foreach (var orden in Model)
{
    <div class="card mb-3">
        <div class="card-body">
            <h5>Artesano: @orden.Artesano.nombre</h5>
            <p>Total: $@orden.Total</p>

            <a asp-controller="Pago"
               asp-action="CrearPago"
               asp-route-ordenId="@orden.Id"
               class="btn btn-success">
                Pagar
            </a>
        </div>
    </div>
}

