html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

#divArtesano {
    position: absolute;
    top: 10px;
    right: 20px;
}

.cerrarSesion {

    color:red;

}

#btnCargar {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    background-color: white;
}

    #btnCargar:hover {
        color: white;
        background-color: darkgray;
    }

#nuevaP {
    justify-content: center;
    margin-bottom: 20px;
    background-color: white;
    color: black;
}
    #nuevaP:hover {
        color: white;
        background-color: darkgray;
    }

#guardarCambiosArtesano {
    background-color: cornflowerblue;
}


    #guardarCambiosArtesano:hover {
        color: forestgreen;
        background-color: white;
        border-color: forestgreen;
    }

#volverArtesano {
    background-color: cornflowerblue;
    color: white;
    border-color:blue;
}


    #volverArtesano:hover {
        color: indianred;
        background-color: white;
        border-color: indianred;
    }
.product-image {
    width: 100%;
    height: 200px; /* fija el alto del cuadro */
    object-fit: cover; /* recorta sin deformar */
    object-position: center;
    display: block;
}
.card .product-image {
    display: block;
    width: 100%;
    height: 200px; /* Controla el alto fijo del cuadro */
    object-fit: cover; /* Recorta sin deformar */
    object-position: center;
}