html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    overflow-x: hidden;
}


.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

#divArtesano, #divCliente {
    position: absolute;
    top: 10px;
    right: 20px;
}

.cerrarSesion {

    color:red;

}

#btnCargar {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    background-color: white;
}

    #btnCargar:hover {
        color: white;
        background-color: darkgray;
    }

#nuevaP {
    justify-content: center;
    margin-bottom: 20px;
    background-color: white;
    color: dimgray;
}
    #nuevaP:hover {
        color: white;
        background-color: dimgray;
        border-color: dimgray;
    }

#guardarCambiosArtesano {
    background-color: green;
    border-color: forestgreen;
}


    #guardarCambiosArtesano:hover {
        color: forestgreen;
        background-color: white;
        border-color: forestgreen;
    }

#volverArtesano {
    background-color: indianred;
    color: white;
    border-color:darkred;
}


    #volverArtesano:hover {
        color: indianred;
        background-color: white;
        border-color: indianred;
    }

#confirmarFotoBtn {
    margin-left: 20px;
    margin-top: 10px;
    background-color: white;
    color: dimgray;
    border-color: dimgray;
    height: 40px;
}

    #confirmarFotoBtn:hover {
        color: white;
        background-color: dimgray;
        border-color: dimgray;
    }

    #lblFoto {
        margin-right: 20px;
        margin-top: 8px;
        height: 40px;
        justify-content: center;
        background-color: white;
    }

        #lblFoto:hover {
            color: white;
            background-color: dimgray;
        }

.layout {
    display: flex;
    min-height: 100vh;
    height: auto;
}

.barraLateral {
    width: 250px;
    background-color: rgba(0, 0, 0, 0.10);
}

.sidebar {
    padding: 20px;
}

.contenido {
    flex: 1;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0 10px 10px 0;
}

.foto-perfil {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px; 
}

/*Mis productos (Artesano)*/
/* CONTENEDOR GENERAL */
.product-slider-container {
    position: relative;
    width: 100%;
    padding: 20px 50px;
}

/* CARRUSEL (horizontal) */
.product-slider {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}

/* CADA TARJETA (3 por fila) */
.product-card {
    flex: 0 0 calc(33.333% - 20px); /* 3 por vista */
}

/* FLECHAS */
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 0px 15px;
    border-radius: 70%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.slider-btn:hover {
    background: #eee;
}



.hover-shadow:hover {
    box-shadow: 0 6px 16px rgba(0,0,0,0.15) !important;
    transform: translateY(-3px);
    transition: 0.2s ease;
}

.slider-wrapper {
    width: 100%;
    overflow: hidden; 
}

/*Editar producto fotos secundarias slider*/

.secondary-slider-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

.secondary-wrapper {
    overflow: hidden;
    width: 100%;
}

.secondary-slider {
    display: flex;
    gap: 15px;
    transition: transform 0.3s ease;
}

.secondary-card {
    min-width: 120px;
    flex: 0 0 auto;
}

.sec-btn {
    background: #ddd;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 18px;
    display: flex;
    align-items: center;
}



/* CATALOGOO*/

/* SLIDER GENERAL */
.slider-container {
    position: relative;
    width: 100%;
}

.slider {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px 40px;

}

.slider::-webkit-scrollbar {
    display: none;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
}

    .slider-btn.left {
        left: 0;
    }

    .slider-btn.right {
        right: 0;
    }

.slider-item {
    min-width: 200px;
    max-width: 200px;
    flex-shrink: 0;
}

.catalog-section {
    padding: 32px 0;
    border-top: 1px solid rgba(0,0,0,0.06);
}
.catalog-header {
    background-color: #e0e0e0;
    padding: 15px;

}

.catalogo-container h4 {
    position: relative;
    padding-bottom: 10px;

}

    .catalogo-container h4::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 48px;
        height: 3px;
        background-color: #1f7a6b;
        border-radius: 2px;
    }


.catalogo-container {
    background: #f5f7f6;

}

.catalogoCard {
    background: #ffffff;

    box-shadow: 0 4px 14px rgba(0,0,0,0.06);

}

.productosRecientes {
    background: #f3f6f4;
}



/*DETALLES PRODUCTO*/
.thumb-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

    .thumb-img:hover {
        transform: scale(1.08);
        box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    }

.active-thumb {
    border: 2px solid #0d6efd;
}



.btn-subir:hover {
    background: transparent;
}

.btn-subir:focus,
.btn-subir:active {
    outline: none;
    box-shadow: none;
}

/*CARRITO*/

.carrito-badge {
    position: absolute;
    top: -3px;
    right: -6px;
    background-color: #dc3545; /* rojo */
    color: white;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 6px;
    border-radius: 70%;
    min-width: 22px;
    text-align: center;
}

.factura-card {
    width: 100%;
    padding: 1rem;
}

.carrito {
    background: #ffffff;
    border-radius: 70%;
}

.interes-slider-container {
    position: relative;
    width: 100%;
    padding: 20px 60px; /* espacio para flechas */
}

.interes-slider-wrapper {
    overflow: hidden;
    width: 100%;
}

.interes-product-slider {
    display: flex;
    gap: 20px;
    transition: transform 0.4s ease;
    will-change: transform;
}

    .interes-product-slider .product-card {
        min-width: 220px; /* ancho fijo */
        flex: 0 0 calc((100% - 80px) / 5);
    }


/*VENTAS ARTESANO*/
.thead-negro th {
    background-color: #212B2A;
    color: #fff;
}

.product-title {
    text-decoration: underline;
}

/*MERCADO PAGO*/

#form-checkout {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.containerMP {
    height: 18px;
    border: 1px solid #777;
}

/*LOGIN*/

body.login-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background: #f4f4f4;
}
.login-main {
    flex: 1; /* ocupa TODO menos el footer */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.login-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-card {
    width: 900px;
    height: 520px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    background: white;
    box-shadow: 0 20px 40px rgba(0,0,0,.15);
    max-height: 100%;
}

/* IZQUIERDA */
.login-form {
    width: 40%;
    padding: 40px;
}

    .login-form .brand {
        font-weight: 700;
        color: #2f6f5e;
    }

    .login-form h2 {
        margin-bottom: 25px;
    }

/* DERECHA */
.login-image {
    width: 60%;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
    position: relative;
}

.image-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

    .image-overlay .badge {
        background: rgba(0,0,0,.6);
        color: white;
        padding: 8px 12px;
        border-radius: 20px;
    }
.recaptcha-wrapper {
    transform: scale(0.85); /* 0.9 / 0.85 / 0.8 */
    transform-origin: center;
}

/*AREGISTRO*/

.registro-card.single {
    background: white;
    width: 420px;
    height: 520px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.registro-check {
    display: flex;
    justify-content: center; /* centra el bloque */
    align-items: center;
    gap: 0.5rem;
}

.registro-form .brand {
    font-weight: 700;
    color: #2f6f5e;
}

/*BTN SUBIR CATALOGO*/

#btnSubir {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    display: none; 
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

/*HGEADER*/


.layout-background {
    background: linear-gradient( to bottom, #134e4a, #1f6f64 );
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

.navbar {
    background-color: transparent !important;
}

    .navbar .nav-link,
    .navbar .navbar-brand {
        color: white;
        font-weight: 500;
    }

        .navbar .nav-link:hover,
        .navbar .navbar-brand:hover {
            color: white;
        }



.catalog-header {
    max-height: 240px;
    overflow: hidden;
    transition: max-height 0.35s ease;
}

    .catalog-header.collapsed {
        max-height: 0;
    }

/*.toggle-header {
    width: 100%;
    text-align: center;
}

#btnToggleHeader {
    width: 100%;
    background: linear-gradient(to bottom, #0f172a, #020617);
    border: none;
    border-top: 1px solid rgba(255,255,255,0.08);
    color: white; 
    font-size: 20px;*/ /* tamaño del ícono */
    /*cursor: pointer;
    transition: background 0.25s ease, color 0.25s ease;
}

    #btnToggleHeader:hover {
        background: white;
        color: black;
    }*/

/* Rotación SOLO del ícono */
/*.catalog-header:not(.collapsed) + .toggle-header
#btnToggleHeader i {
    transform: rotate(180deg);
    transition: transform 0.25s ease;
}

.catalog-header:not(.collapsed) + .toggle-header #btnToggleHeader {
    transform: rotate(180deg);
}*/
.dropdown-item-catalogo {
    font-weight: 600;
    color: white;
    background: linear-gradient( to right, rgba(22,109,92,0.12), transparent );
}

    .dropdown-item-catalogo:hover {
        background: linear-gradient( to right, rgba(22,109,92,0.25), transparent );
        color: white;
    }

.dropdown-item-catalogo {
    display: block;
    margin-bottom: -3px;
    padding: 10px
}