html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

#divArtesano, #divCliente {
    position: absolute;
    top: 10px;
    right: 20px;
}

.cerrarSesion {

    color:red;

}

#btnCargar {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    background-color: white;
}

    #btnCargar:hover {
        color: white;
        background-color: darkgray;
    }

#nuevaP {
    justify-content: center;
    margin-bottom: 20px;
    background-color: white;
    color: dimgray;
}
    #nuevaP:hover {
        color: white;
        background-color: dimgray;
        border-color: dimgray;
    }

#guardarCambiosArtesano {
    background-color: green;
    border-color: forestgreen;
}


    #guardarCambiosArtesano:hover {
        color: forestgreen;
        background-color: white;
        border-color: forestgreen;
    }

#volverArtesano {
    background-color: indianred;
    color: white;
    border-color:darkred;
}


    #volverArtesano:hover {
        color: indianred;
        background-color: white;
        border-color: indianred;
    }

#confirmarFotoBtn {
    margin-left: 20px;
    margin-top: 10px;
    background-color: white;
    color: dimgray;
    border-color: dimgray;
    height: 40px;
}

    #confirmarFotoBtn:hover {
        color: white;
        background-color: dimgray;
        border-color: dimgray;
    }

    #lblFoto {
        margin-right: 20px;
        margin-top: 8px;
        height: 40px;
        justify-content: center;
        background-color: white;
    }

        #lblFoto:hover {
            color: white;
            background-color: dimgray;
        }

.layout {
    display: flex;
    min-height: 100vh;
    height: auto;
}

.barraLateral {
    width: 250px;
    background-color: rgba(0, 0, 0, 0.10);
}

.sidebar {
    padding: 20px;
}

.contenido {
    flex: 1;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0 10px 10px 0;
}

.foto-perfil {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px; 
}
