html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

#divArtesano, #divCliente {
    position: absolute;
    top: 10px;
    right: 20px;
}

.cerrarSesion {

    color:red;

}

#btnCargar {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    background-color: white;
}

    #btnCargar:hover {
        color: white;
        background-color: darkgray;
    }

#nuevaP {
    justify-content: center;
    margin-bottom: 20px;
    background-color: white;
    color: dimgray;
}
    #nuevaP:hover {
        color: white;
        background-color: dimgray;
        border-color: dimgray;
    }

#guardarCambiosArtesano {
    background-color: green;
    border-color: forestgreen;
}


    #guardarCambiosArtesano:hover {
        color: forestgreen;
        background-color: white;
        border-color: forestgreen;
    }

#volverArtesano {
    background-color: indianred;
    color: white;
    border-color:darkred;
}


    #volverArtesano:hover {
        color: indianred;
        background-color: white;
        border-color: indianred;
    }

#confirmarFotoBtn {
    margin-left: 20px;
    margin-top: 10px;
    background-color: white;
    color: dimgray;
    border-color: dimgray;
    height: 40px;
}

    #confirmarFotoBtn:hover {
        color: white;
        background-color: dimgray;
        border-color: dimgray;
    }

    #lblFoto {
        margin-right: 20px;
        margin-top: 8px;
        height: 40px;
        justify-content: center;
        background-color: white;
    }

        #lblFoto:hover {
            color: white;
            background-color: dimgray;
        }

.layout {
    display: flex;
    min-height: 100vh;
    height: auto;
}

.barraLateral {
    width: 250px;
    background-color: rgba(0, 0, 0, 0.10);
}

.sidebar {
    padding: 20px;
}

.contenido {
    flex: 1;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0 10px 10px 0;
}

.foto-perfil {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px; 
}

/*Mis productos (Artesano)*/
/* CONTENEDOR GENERAL */
.product-slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 20px 50px;
}

/* CARRUSEL (horizontal) */
.product-slider {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}

/* CADA TARJETA (3 por fila) */
.product-card {
    flex: 0 0 calc(33.333% - 20px); /* 3 por vista */
}

/* FLECHAS */
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 0px 15px;
    border-radius: 70%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.slider-btn:hover {
    background: #eee;
}



.hover-shadow:hover {
    box-shadow: 0 6px 16px rgba(0,0,0,0.15) !important;
    transform: translateY(-3px);
    transition: 0.2s ease;
}

.slider-wrapper {
    width: 100%;
    overflow: hidden; 
}

/*Editar producto fotos secundarias slider*/

.secondary-slider-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

.secondary-wrapper {
    overflow: hidden;
    width: 100%;
}

.secondary-slider {
    display: flex;
    gap: 15px;
    transition: transform 0.3s ease;
}

.secondary-card {
    min-width: 120px;
    flex: 0 0 auto;
}

.sec-btn {
    background: #ddd;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

/*NAVBAR*/

.top-bar {
    background: #f8f9fa;
    position: sticky;
    top: 0;
    z-index: 1050;
    border-bottom: 1px solid #e3e3e3;
}

/*Carrito*/

#btnVolverATienda {
background-color:cadetblue;
border: none;

}

 #btnVolverATienda:hover {
 background-color: #4F8E90;
 border:none
 }

#btnConfirmarCompra {
    background-color: #3F7E80;
    border: none
}

    #btnConfirmarCompra:hover {
        background-color: #2F6E70;
        border: none
    }

#hrCarrito { /*Para dividir el lsitado del resto*/
    border: none;
    border-top: 2px solid black;
}

