@model ProyectoIntegrador_Web.Models.CambioPassowrdCliente

@{
    ViewData["Title"] = "Cambiar contraseña";
}

<div class="container py-5 d-flex justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">

        <h3 class="text-center mb-4 fw-semibold">Cambiar contraseña</h3>

        @if (TempData["Mensaje"] != null)
        {
            <div class="alert alert-success text-center">
                @TempData["Mensaje"]
            </div>
        }


        <form asp-action="CambioContra" method="post" class="border rounded-3 p-4 shadow-sm bg-white">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger small mb-3"></div>

            <div class="mb-3">
                <label asp-for="passwordActual" class="form-label"> contraseña actual</label>
                <input asp-for="passwordActual" type="password" class="form-control" />
                <span asp-validation-for="passwordActual" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label">contraseña nueva</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PasswordRepetida" class="form-label"> repita la contraseña</label>
                <input asp-for="PasswordRepetida" type="password" class="form-control" />
                <span asp-validation-for="PasswordRepetida" class="text-danger small"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100">
                Guardar cambios
            </button>

            <div class="text-center mt-3">
                <a asp-action="Inicio" asp-controller="Cliente" class="text-decoration-none">
                    Volver
                </a>
            </div>
        </form>

    </div>
</div>

